# Static / vendor assets – do not count as main language
SkincareShop/wwwroot/lib/** linguist-vendored
SkincareShop/wwwroot/bootstrap/** linguist-vendored
SkincareShop/wwwroot/mobirise/** linguist-vendored
SkincareShop/wwwroot/theme/** linguist-vendored
SkincareShop/wwwroot/web/** linguist-vendored
SkincareShop/wwwroot/images/** linguist-vendored


